Análisis Exploratorio de Datos o EDA

In [1]:
import pandas as pd
import numpy as np

In [2]:
Commerce_csv=pd.read_csv(r'C:\Users\ROXI\OneDrive\Escritorio\henry\pi\datathon\Datathon\E-Commerce_train_csv.csv')

In [6]:
Commerce_csv.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,9000,F,Ship,5,1,189,2,medium,M,10,10
1,9001,D,Ship,5,3,150,2,high,F,9,9
2,9002,F,Ship,3,3,200,3,low,M,3,3
3,9003,A,Ship,5,1,133,2,medium,M,1,1
4,9004,B,Ship,4,2,260,3,low,M,4,4

In [5]:
Commerce_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2000 non-null   int64
 1   Warehouse_block      2000 non-null   object
 2   Mode_of_Shipment     2000 non-null   object
 3   Customer_care_calls  2000 non-null   int64
 4   Customer_rating      2000 non-null   int64
 5   Cost_of_the_Product  2000 non-null   int64
 6   Prior_purchases      2000 non-null   int64
 7   Product_importance   2000 non-null   object
 8   Gender               2000 non-null   object
 9   Discount_offered     2000 non-null   int64
 10  Weight_in_gms        2000 non-null   int64
dtypes: int64(7), object(4)
memory usage: 172.0+ KB

In [7]:
Commerce_csv.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms
count,2000.000000,2000.000000,2000.00000,2000.000000,2000.00000,2000.00000,2000.00000
mean,9999.500000,4.231500,2.97050,217.555000,3.82000,5.61400,5.61400
std,577.494589,1.136465,1.41585,46.336276,1.45453,2.90469,2.90469
min,9000.000000,2.000000,1.00000,96.000000,2.00000,1.00000,1.00000
25%,9499.750000,3.000000,2.00000,179.750000,3.00000,3.00000,3.00000
50%,9999.500000,4.000000,3.00000,226.000000,4.00000,6.00000,6.00000
75%,10499.250000,5.000000,4.00000,255.000000,5.00000,8.00000,8.00000
max,10999.000000,7.000000,5.00000,310.000000,10.00000,10.00000,10.00000

Customer_care_calls=Almacén de distribución de donde salió la orden (A a F).

In [ ]:
Commerce_csv['Customer_care_calls']